{
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "react-hooks", "@typescript-eslint"],
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-cycle": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/function-component-definition": [
      "error",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ],
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "linebreak-style": "off",
    "arrow-parens": ["error", "as-needed"],
    "jsx-quotes": [2, "prefer-single"],
    "comma-dangle": [2, "always-multiline"],
    "object-curly-newline": [
      "error",
      {
        "ObjectPattern": { "multiline": true }
      }
    ],
    "operator-linebreak": ["error", "after"],
    "no-underscore-dangle": "off",
    "no-nested-ternary": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
