@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --font: 'Source Sans Pro', sans-serif;
    --font-size: 14px;
    --background: #100e15;
    --primary: #735af2;
    --accent: #afa1f7;
    --surface: #22202c;
    --danger: #ff5252;
    --success: #0acf83;
    --text-color: #ebe7fd;
    --text-color-muted: #605c71;
    --radius: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

:focus {
    outline: none;
}

html,
body,
#app {
    height: 100%;
}

body {
    background: var(--background);
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: 1.333;
    color: var(--text-color);
}

a {
    color: var(--accent);
    transition: all 0.2s;
}

input[type='text'],
input[type='password'],
input[type='email'],
select,
textarea {
    background: transparent;
    font-family: var(--font);
    font-size: var(--font-size);
    width: 100%;
    padding: 10px;
    color: var(--text-color);
    border: 1px solid var(--accent);
    border-radius: var(--radius);
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--primary);
}

button,
.btn {
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
    color: #fff;
    font-family: var(--font);
    font-size: var(--font-size);
    line-height: 1.125;
    text-align: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
}

button:hover,
.btn:hover {
    opacity: 0.9;
}

button svg,
.btn svg {
    font-size: 20px;
    margin-right: 5px;
}

h1 {
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.2;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.page-title {
    text-align: center;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    padding: 10px 10px 75px;
}

nav {
    background: var(--background);
    border-top: 2px solid var(--surface);
    padding: 10px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 5px;
    max-width: 1000px;
    margin: 0 auto;
}

nav ul li {
    text-align: center;
}

nav ul li a {
    display: inline-block;
    color: var(--text-color-muted);
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    transition: all 0.2s;
}

nav ul li a span {
    display: block;
}

nav ul li a svg {
    font-size: 26px;
}

nav ul li a:hover {
    color: var(--text-color);
}

.react-tabs {
    margin-bottom: 20px;
}

.react-tabs__tab-list {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.react-tabs__tab {
    flex-shrink: 0;
    font-weight: 700;
    color: var(--text-color-muted);
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.react-tabs__tab:hover {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}

.react-tabs__tab.react-tabs__tab--selected {
    color: var(--accent);
    border-bottom-color: var(--accent);
}

@media (min-width: 768px) {
    :root {
        --font-size: 16px;
    }
    main {
        padding-bottom: 90px;
    }
    .swiper-slide {
        height: 450px;
    }
}
