.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.movie-item {
    background: url(../../assets/images/default-movie.png) no-repeat center center;
    background-size: cover;
    width: 31%;
    border-radius: 10px;
}

.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.movie-item .lazy-load-image-background {
    display: block !important;
}

.search-form {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
}
