nav {
  background: var(--background);
  border-top: 2px solid var(--surface);
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0 5px;
  max-width: 1000px;
  margin: 0 auto;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  display: inline-block;
  color: var(--text-color-muted);
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  transition: all 0.2s;
}

nav ul li a span {
  display: block;
}

nav ul li a svg {
  font-size: 26px;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active {
  color: var(--text-color);
}
